.card {
    display: flex;
    height: 250px;
    margin: 5px 50px 5px 50px;
    padding: 3px;
    flex-direction: row;
    border-radius: 25px;
    padding: 10px;
    background-color: #554198;
    border-width: 1px;
    transition: transform 250ms;
    overflow: auto;
    white-space: nowrap;
}

.card:hover {
    cursor: pointer;
    transform: translatey(-3px);
    border-width: 2px;
}

.card-details {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.card-details-name {
    /*font-family: fantasy;*/
    font-size: 3em;
}

.card-details-additional {

}

.super-type {
    /*font-family: fantasy;*/
    font-size: 1.2em;
}

.level {
    /*font-family: fantasy;*/
    font-size: 1.2em;
}

.hp {
    /*font-family: fantasy;*/
    font-size: 1.2em;
}

.flavorText {
    /*font-family: fantasy;*/
    font-size: 1.2em;
}

.card-picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
